<h3>Hourly</h3>
<table>
  <thead>
    <tr>
      <th>Hour</th>
      <th class="visitors">Unique Visitors</th>
      <th class="visits">Visits</th>
      <th class="visits">Visit %</th>
      <th class="bandwidth">Bandwidth</th>
      <th class="bandwidth">Bandwidth %</th>
    </tr>
  </thead>
  <tbody>
{{rows}}
  </tbody>
  <tfoot>
    <tr>
      <th>Average</th>
      <th>{{avg_visitors}}</th>
      <th>{{avg_visits}}</th>
      <th></th>
      <th>{{avg_bandwidth}}</th>
      <th></th>
    </tr>
  </tfoot>
</table>
